* {
    font-family: 'Noto Sans', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: gray transparent;
    user-select: none;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: #fff3;
    border-radius: 100px;
}

code {
    font-family: 'Source Code Pro', monospace;
    background-color: #0003;
    padding: 4px;
}

html,
body {
    font-size: 0.9em;
    min-height: 256px;
    min-width: 128px;
    width: 390px;
    height: 600px;
    margin: 0;
    padding: 0;
    color: var(--foreground);
    background-color: var(--background);
    overflow: hidden;
}

h1, h2 {
    margin: 0;
    grid-area: ii;
    word-wrap: break-word;
}

body {
    display: flex;
    --foreground: black;
    --background: white;
    --border: gray;

    padding: 16px;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        --foreground: #bdc1c6;
        --background: #202024;
        --border: #434d5e;
    }
}

body main {
    display: flex;
    height: 100%;
    flex-direction: column;
    grid-template-rows: repeat(7, auto) 35px;
    width: 100%;
    gap: 12px;
}

main.hidden {
    display: none;
}

.weekday {
    font-size: 1.2em;
    font-weight: bold;
}

footer {
    min-height: 35px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

input,
button {
    border: 0px solid var(--border);
    background-color: #0003;
    height: 100%;
    max-height: 35px;
    color: var(--foreground);
    border-radius: 4px;
    transition: opacity 200ms;
    width: 100%;
    text-align: center;
    flex-grow: 1;
}

input {
    transition-duration: 250ms;
    transition-property: border-color;
    margin: 0;
    flex: 1 0 auto;
    box-sizing: border-box;
    border-width: 2px;
    user-select: auto;
}

button {
    cursor: pointer;
}

button:disabled {
    opacity: .75;
    cursor: wait;
}

br {
    margin: 0;
}

#school-overlay.visible {
    display: grid;
    grid: 35px auto min-content / auto;
    background-color: var(--background);
    height: 568px;
    max-width: 384px;
    width: 100%;
}

#school-overlay {
    display: none;
}

.school-overlay-top-bar {
    display: grid;
    grid: auto / auto 75px;
    gap: 16px;
    height: 35px;
}

#school-list {
    overflow-y: scroll;
    padding: 0;
}

#school-list li {
    list-style: none;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

#school-list li.dead {
    cursor: unset;
    font-weight: bold;
}

#school-list li:not(.dead)::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--foreground);
    opacity: 0.1;
    content: "";
}

#school-list li:not(.dead):hover {
    background-color: #0003;
    opacity: 0.95;
}

.current-school-container {
    font-weight: bold;
    text-align: center;
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-all;
}

#current-school {
    user-select: all;
    word-wrap: break-word;
    font-size: 0.8em;
}

#menu {
    overflow-y: auto;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

#menu li {
    list-style: none;
    display: flex;
    gap: 12px;
    margin: 12px 0;
    padding-right: 4px;
}

#menu .date {
    display: flex;
    flex-direction: column;
    min-width: 68px;
}

.data p {
    user-select: text;
    margin: 0;
}