* {
    font-family: 'Noto Sans', sans-serif;
}

body {
    --foreground: black;
    --background: white;
    --border: gray;
}

html,
body {
    font-size: 0.9em;
    min-height: 128px;
    min-width: 384px;
    margin: 0;
    /* box-sizing: border-box; */
    color: var(--foreground);
    background-color: var(--background);
    scrollbar-width: thin;
    scrollbar-color: gray transparent;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        --foreground: #bdc1c6;
        --background: #202024;
        --border: #434d5e;
    }
}

h1 {
    margin: 0;
    grid-area: ii;
    word-wrap: break-word;
}

body {
    margin: 16px;
}

body>div {
    display: grid;
    grid-template-rows: repeat(7, auto) 35px;
    width: 384px;
    grid-template-areas:
        "ii"
        "ww"
        "t1"
        "t2"
        "t3"
        "t4"
        "t5"
        "ff";
}

section div.date {
    display: flex;
    flex-direction: column;
    width: 70px;
}

.weekday {
    font-size: 1.2em;
}

.weekday {
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 12px 0;
    height: min-content;
}

footer {
    grid-area: ff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

footer * {
    height: 100%;
    color: var(--foreground);
    border-radius: 4px;

}

footer input,
footer button {
    border: 0px solid var(--border);
    background-color: #0003;

}

footer input {
    transition-duration: 250ms;
    transition-property: border-color;
    width: 100%;
    margin: 0;
    flex: 1 0 auto;
    box-sizing: border-box;
    flex-grow: 1;
    text-align: center;
    border: 2px solid var(--border);
}

footer button {
    width: max-content;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
}

br {
    margin: 0;
}